annotation_file	/lustre/scratch118/infgen/pathdev/vo1/deago_tutorial/ensembl_mm10_deago_formatted.tsv
count_column	7
count_delim	\t
count_type	featurecounts
counts_directory	/lustre/scratch118/infgen/pathdev/vo1/deago_tutorial/counts
gene_ids	Geneid
go_analysis	0
go_levels	all
keep_images	0
qc_only	0
qvalue	10E-12
results_directory	/lustre/scratch118/infgen/pathdev/vo1/deago_tutorial/lrt_analysis
skip_lines	1
targets_file	/lustre/scratch118/infgen/pathdev/vo1/deago_tutorial/targets.txt
